.userName {
    width: 5%;
    height: 100%;
    border-radius: 100%;
}
.gallery-cell {
    width: 66%;
    height: 200px;
    margin-right: 10px;
    background: #8C8;
    counter-increment: gallery-cell;
  }